.preview {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: var(--primary);
  color: #fff;
  padding: 1rem 2rem;

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .id {
    opacity: 0.5;
  }
}
