.post_container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--text);
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.post_interaction {
  display: flex;
  gap: 1rem;
}

@keyframes zoom_in {
  0% {
    filter: blur(5px);
    transform: scale(0);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

.post_image {
  animation: zoom_in 1.5s ease forwards;
  width: auto;
  object-fit: contain;
  height: 500px;
  border-radius: 0.5rem;
}

.post_image_expanded {
  object-fit: contain;
  width: auto;
  max-width: 95vh;
  height: 85vh; 
  border-radius: 0.5rem;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.expand_image {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;

  img {
    opacity: 0;
    animation: fade_in 0.5s 1.5s ease forwards;
    width: 2rem;
    height: 2rem;
    filter: invert(1);
  }

  &:hover, &:active, &:focus {
    box-shadow: none;
  }
}

.post_post {
  width: fit-content;
  position: relative;
}

@media only screen and (max-width: 600px)  {
  .post_interaction {
    flex-direction: column;
  }

  .post_image_expanded {
    width: 90vw;
    height: auto;
  }

  .post_post {
    width: 100%;
  }

  .post_image {
    width: 100%;
    height: auto;
  }
}
