.user_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--text);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .pfp {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}

.user_interaction {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.creation {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .interact {
    width: fit-content;
    border-radius: 0.5rem;
  }
}

.nav_buttons {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  margin-bottom: 1rem;
  gap: 1rem;

  button {
    color: var(--text);
    border: none;
    background-color: transparent;
    transition: 0.35s ease all;
    padding: 1rem 2rem;

    &:hover {
      cursor: pointer;
      background-color: var(--secondary) !important;
    }

    &:active, &:focus {
      background-color: var(--primary) !important;
    }
  }
}
