.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 300px;
        
    img {
      width: auto;
      object-fit: cover;
      height: 100%;
    }

    h1, span { 
      justify-content: space-between;
      background: var(--secondary);
      padding: 0.5rem 1rem;
    }

    h1 {
      flex: 1;
    }
} 

@media only screen and (max-width: 600px)  {
  .posts {
    place-content: center;
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
