@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

:root {
  --text: #ffffff;
  --background: #000000;
  --primary: #171717;
  --secondary: #292929;
  --accent: #424242;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-size: 18px;
}

a {
  color: var(--text);
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

input, textarea, button {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.35s ease all;

  &:active, &:focus {
    outline: none;
    border-radius: 0;
  }
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

.container {
  margin: 5rem 10rem;
  display: flex;
  flex-direction: column;
}
