@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;500;700;900&display=swap");

:root {
  --text: #180202;
  --background: #fafafa;
  --primary: #ff6d4d;
  --secondary: #e6e6e5;
  --accent: #d12600;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 5rem 10rem;
  display: flex;
  flex-direction: column;
}
