@keyframes loading_wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  filter: invert(1);
  img {
    animation: loading_wheel 1.5s ease infinite; 
  }
}
